@import "common.scss";

.btn{
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  min-width: 60px;
  border: 1px solid $borderColor;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px $borderColor;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: gainsboro;
  }
}

.btn-primary{
  color: #fff;
  background-color: $primary;
  &:hover{
    background-color: $darkPrimary;
  }
}

.btn-success{
  color: #fff;
  background-color: $success;
  &:hover{
    background-color: $darkSuccess;
  }
}

.btn-info{
  color: #fff;
  background-color: $info;
  &:hover{
    background-color: $darkInfo;
  }
}

.btn-warning{
  color: #fff;
  background-color: $warning;
  &:hover{
    background-color: $darkWarning;
  }
}

.btn-danger{
  color: #fff;
  background-color: $danger;
  &:hover{
    background-color: $darkDanger;
  }
}

.btn-larger{
  font-size: 18px;
  min-width: 70px;
  padding: 10px 16px;
}

.btn-smaller{
  font-size: 12px;
  min-width: 50px;
  padding: 5px 10px;
}